@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #222831;
    color: white;
}

/* HEADER */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;
    padding: 0 0.5rem;
    max-width: 1200px;
    border-bottom: 1px solid #393E46;
    padding-bottom: 1rem;
}

.navigation ul{
    list-style: none;
    display: flex;
    gap: 2rem;
}

.navigation a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.navigation a:hover{
    color: aqua;
}

/* HERO SECTION */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem auto;
    max-width: 1200px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* DEAL WITH US BUTTON */
.deal-btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 12px 30px;
    background-color: #00ADB5;
    color: white;
    font-size: 1.2rem;    /* حجم مناسب */
    font-weight: 700;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
}

.deal-btn:hover {
    background-color: #08c6cf;
    transform: scale(1.05);
}

/* SECTIONS */
.section-box {
    max-width: 1200px;
    margin: 4rem auto;
    padding: 2rem;
}

.section-box h2 {
    margin-bottom: 1rem;
    color: aqua;
}

.section-box ul {
    list-style: disc;
    padding-left: 20px;
}

.section-box a {
    color: #00ADB5;
}

.section-box a:hover {
    color: #08c6cf;
}
